html {
    min-width: 100vw;
    min-height: 100vh;
}

body {
    min-width: 100vw;
    min-height: 100vh;
}

.form-width {
    width: 15vw;
}

.form-center {
    height: 100vh;
}

.brand--color {
    background: wheat;
    color: white !important;
    border-color: wheat;
}

.main-hero {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../assets/masaz-czy-fizjoterapia-scaled.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-hero-title{
    color: #27ae60;
    font-weight: bold;
}

.main-hero-text{
    color: white;
}

.validation-alert{
    position: absolute !important;
    top: 0 !important;
}